body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 20px; 
    background-color: bisque;
    padding: 20px;
  }
  
  
  main {
    display: flex;
    flex-direction: row;
    flex: auto; 
    overflow: hidden; 
  }
  
  
  article {
    flex: 2; 
    overflow-y: auto; 
    overflow-y: auto;
    block-size: 100%
  }
  
  h1 { display: block; font-size: 2em; margin-top: o.67em;
    }
    table, th, td {
        border: 1px solid
    }
  
  
  aside {
    flex: 1; 
    overflow-y: auto; 
    overflow-y: auto;
  }

